<html>

  <head>
    <title>ToDoApp</title>
  </head>

  <body ng-app="toDoApp">
    <h1>To Do</h1>
    <div ng-controller="ListController as list">

      <form ng-submit="list.addTask(list.taskText)">
        <input type="text" ng-model="list.taskText">
        <input type="submit" value="submit">
      </form>

      <ul>
        <li ng-repeat="task in list.taskList">
          <form ng-show="task.editMode" ng-submit="task.updateText()">
            <input type="text" ng-model="task.text">
          </form>
          <span ng-hide="task.editMode" ng-click="task.edit()">{{task.text}}</span>
          <br>
          id:{{task.id}} complete:{{task.isComplete}}
          <button type="button" name="button" ng-click="task.complete()">done</button>
          <button type="button" name="button" ng-click=list.removeTask(task)>delete</button><br>

        </li>
      </ul>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/toDoController.js"></script>
  </body>

</html>
